__pycache__/
plugins/__pycache__/
*.pyc
lib/*.pyc
plugins/*.pyc
belatiFiles/*
logs/*
.directory
lib/.directory
plugins/.directory
proxy.txt
belati.conf
beta/*
#remove comment after 0.2.3-dev
#web/db.sqlite3
