dnspython
requests
argparse
texttable
python-geoip-geolite2
python-geoip
dnsknife
termcolor
colorama
validators
tqdm
tldextract
fake-useragent
python-wappalyzer
future
beautifulsoup4
python-whois
futures
django==2.2.24
pyexifinfo
cmd2==0.8.0
tabulate
dnsdumpster
