{% extends "header.html" %}

{% block content %}


<h4> Belati - The Traditional Swiss Army Knife For OSINT </h4>
<hr/>
<p>
Belati is tool for Collecting Public Data & Public Document from Website and other service for OSINT purpose. This tools is inspired by Foca and Datasploit for OSINT :)
</p>

<h4>Why I Made this?</h4>
<hr/>
Just for learning stuff and OSINT purpose.

<h4>What Belati can do?</h4>
<hr/>
<ul>
  <li>Whois(Indonesian TLD Support)</li>
  <li>Banner Grabbing</li>
  <li>Subdomain Enumeration</li>
  <li>Service Scanning for all Subdomain Machine</li>
  <li>Web Appalyzer Support</li>
  <li>DNS mapping / Zone Scanning</li>
  <li>Mail Harvester from Website & Search Engine</li>
  <li>Mail Harvester from MIT PGP Public Key Server</li>
  <li>Scrapping Public Document for Domain from Search Engine</li>
  <li>Fake and Random User Agent ( Prevent from blocking )</li>
  <li>Proxy Support for Harvesting Emails and Documents</li>
  <li>Public Git Finder in domain/subdomain</li>
  <li>Public SVN Finder in domain/subdomain</li>
  <li>Robot.txt Scraper in domain/subdomain</li>
  <li>Gather Public Company Info & Employee</li>
  <li>SQLite3 Database Support for storing Belati Results</li>
  <li>Setup Wizard/Configuration for Belati</li>
</ul>

<h4>Author</h4>
<hr/>
Aan Wahyu a.k.a Petruknisme(<a href="https://petruknisme.com">https://petruknisme.com</a>)

<h4>Thanks To</h4>
<hr/>
Thanks to PyWhois Library, Sublist3r, MailHarvester, Emingoo for being part of my code. Also thanks to Hispagatos, Infosec-ninjas, eCHo, RNDC( Research and development center ) and all other people who are inspiring this project :)
<br/><br/>
Thanks to Echo-Zine Staff for approving my Ezine : <a href="http://ezine.echo.or.id/issue31/005.txt">http://ezine.echo.or.id/issue31/005.txt</a> - Belati : Collecting Public Data & Public Document for OSINT Purpose - Petruknisme

<h4>Feedback/Suggestion</h4>
<hr/>
Feel free to create Issue in this repository or email me at <b>cacaddv [at] gmail.com</b> . Your feedback and suggestion is useful for Belati development progress :)

<h4>License</h4>
<hr/>
Belati is licensed under GPL V2. You can use, modify, or redistribute this tool under the terms of GNU General Public License (GPLv2).
<br/>
<blockquote>
  Belati is tool for Collecting Public Data & Public Document from Website and other service for OSINT purpose.
  This tools is inspired by Foca and Datasploit for OSINT
  Copyright (C) 2017  cacaddv@gmail.com (Petruknisme a.k.a Aan Wahyu)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
</blockquote>
{% endblock %}
